



 <div class="jumbotron">
  

  <h1>Welcome to Ritly</h1>
     <p>Would you like to replace a url link by a new randomly generated one?</p>
     <p>Just ask Ritly</p>

 



 <%= form_for :link,:url => link_create_path , method: :post do |f| %>
 <div class="request col-lg-12">
 <%= f.text_area :url, placeholder: 
  "paste  here the link you want to change" %>
</div>
        
   <p>Random 16 chararacter URL <%= f.radio_button :length, "" %></p> <br>
   <p>Choose length <%= f.text_area :length, placeholder: "length" %>
     <%= f.radio_button :length, "true" %></p> <br>
    
    

       <%=  f.submit "Request a new url" , class: "btn btn-danger" %>
       
           
  
 <% end %>


</div>
     